<div class="calendar-card">
    <div [ngStyle]="{'background-color':'aliceblue'}">
        <div class="calendar-head">
            <button class='arrow prev' (click)="prevMonth()">&lt;</button>  
            <h3 [ngStyle]="{'text-align':'center'}">{{ monthName }} {{ year }}</h3>
            <button class='arrow next' (click)="nextMonth()">&gt;</button>
        </div>
        <div class="grid-container weekdays">
            <span *ngFor="let day of weekdays">{{ day }}</span>
        </div>
    </div>
    <div class="grid-container dates">
        <div *ngFor="let date of days" >
            <span *ngIf='date!==null' [ngStyle]="styleDate(date)" (click)="onDateClick(date)">
                {{ date }}
            </span>
        </div>
    </div>
<!-- <month-card></month-card> -->
</div>